.renderedVisualKeyboardContainer {
  --theme-1-background-dark   : #24283B;
  --theme-1-background-light  : #333954;
  --theme-1-green         : #45F1C2;
  --theme-1-blue          : #0CA0D8;
  --theme-1-cyan          : #14A5AE;
  --theme-1-orange        : #cd5e42;
  --theme-1-red           : #CD4277;

  --default-key-width: 3.5rem;
  --default-key-height: 3.5rem;

  --backspace-width: 7.5rem;
  --spacebar-width: 25rem;
  --tab-width: 5.5rem;
  --capslock-width: 7.25rem;
  --enter-width: 7.65rem;
  --shift-width: 9.4rem;
  --backslash-width: 5.5rem;

  --keypress-transition: 50ms;

  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

.keyboardLayer {
  justify-self: center;
  display: flex;
}

.keyboardKeyNotPressed {
  color: white;
  background-color: var(--theme-1-background-light);
  width: var(--default-key-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.keyboardKeyPressed {
  color: var(--theme-1-background-dark);
  background-color: white;
  width: var(--default-key-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.backspaceNotPressed {
  color: white;
  background-color: var(--theme-1-background-light);
  width: var(--backspace-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.backspacePressed {
  color: var(--theme-1-background-dark);
  background-color: white;
  width: var(--backspace-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.spacebarNotPressed {
  color: white;
  background-color: var(--theme-1-background-light);
  width: var(--spacebar-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.spacebarPressed {
  color: var(--theme-1-background-dark);
  background-color: white;
  width: var(--spacebar-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.tabNotPressed {
  color: white;
  background-color: var(--theme-1-background-light);
  width: var(--tab-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.tabPressed {
  color: var(--theme-1-background-dark);
  background-color: white;
  width: var(--tab-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.capslockNotPressed {
  color: white;
  background-color: var(--theme-1-background-light);
  width: var(--capslock-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.capslockPressed {
  color: var(--theme-1-background-dark);
  background-color: white;
  width: var(--capslock-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.enterNotPressed {
  color: white;
  background-color: var(--theme-1-background-light);
  width: var(--enter-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.enterPressed {
  color: var(--theme-1-background-dark);
  background-color: white;
  width: var(--enter-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.shiftNotPressed {
  color: white;
  background-color: var(--theme-1-background-light);
  width: var(--shift-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.shiftPressed {
  color: var(--theme-1-background-dark);
  background-color: white;
  width: var(--shift-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.backslashNotPressed {
  color: white;
  background-color: var(--theme-1-background-light);
  width: var(--backslash-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}

.backslashPressed {
  color: var(--theme-1-background-dark);
  background-color: white;
  width: var(--backslash-width);
  height: var(--default-key-height);
  padding: 0.5rem;
  margin: 0.2rem;
  border-radius: 0.1rem;
  transition: var(--keypress-transition);
}
